{% extends 'back/base.html.twig' %}
{% form_theme edit_form 'bootstrap_5_layout.html.twig' %}

{% block main %}
    {% include 'components/page_header.html.twig' with { page_title: 'Nouvelle formation'} %}
    {% block edit_form %}
        {{ form_start(edit_form) }}
        <div class="card p-6 mt-14 mb-4">
        <div>
            {{ form_row(edit_form.title) }}
        </div>
        <div>
            {{ form_row(edit_form.duration) }}
        </div>
        <div>
            {{ form_row(edit_form.description) }}
        </div>
        <div>
            {{ form_row(edit_form.requirements) }}
        </div>
        <div>
            {{ form_row(edit_form.skills) }}
        </div>
        <button type="submit" class="mt-6 button button-blue" name="ea[newForm][btn]" value="saveAndReturn" data-action-name="saveAndReturn" form="edit-Formation-form">Enregistrer</button>
        {{ form_end(edit_form) }}
    {% endblock edit_form %}
{% endblock %}