
<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center pb-10 mt-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://picsum.photos/200/300" alt="Bonnie image"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ mentor[0].consultant.firstname }} {{ mentor[0].consultant.lastname }}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">Stack technique</span>
        <div class="flex mt-1 mb-1">
            {% for skill in mentor[0].formation.skills %}
                <span class="badge">{{ skill }}</span>
            {% endfor %}
        </div>
        <ul class="max-w-md space-y-2 text-gray-500 list-inside dark:text-gray-400 mt-2">
            {% for f in formation %}
                <a class="no-underline text-black pointer" data-te-toggle="tooltip" title="{{ f.formation.title }}">
                    <li>{{ f.formation.title|slice(0,40) ~ '...' }}</li>
                </a>
            {% endfor %}
        </ul>
        <div class="flex mt-4 space-x-3 md:mt-6">
            <a href="{{ mentor[0].consultant.email }}" class="button button-blue">Contacter</a>
            <a href="#" class="button button-red">Reporter</a>
        </div>
    </div>
</div>