{% extends 'back/base.html.twig' %}
{% block main %}
    <div class="card">
        <div class="card-header bg-transparent">
            <h1>{{ dispense.formation.title }}</h1>
        </div>
        <table>
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            {% for consultant in dispense.consultants %}
                {% set url_give_reward = ea_url()
                    .setController('App\\Controller\\Back\\DispenseCrudController')
                    .setAction('giveReward')
                    .set('consultantId', consultant.id)
                    .set('dispenseId', dispense.id)
                %}
                <tr>
                    <td>{{ consultant.lastname }}</td>
                    <td>{{ consultant.firstname }}</td>
                    <td>{{ consultant.email }}</td>
                    {% if dispense.rewards|length == 0 %}
                        <td>
                            <a href="{{ url_give_reward }}">
                                <button type="button" class="button button-blue">Ajouter récompense</button>
                            </a>
                        </td>
                    {% endif %}
                    {% for reward in rewards %}
                        {% if reward.consultant.id != consultant.id %}
                            {% for rdispense in reward.dispenses %}
                                {% if rdispense.id == dispense.id %}
                                    <td>ko</td>
                                    <td>
                                        <a href="{{ url_give_reward }}">
                                            <button type="button" class="button button-blue">Ajouter récompense</button>
                                        </a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
