{% extends 'back/base.html.twig' %}
{% form_theme new_form 'bootstrap_5_layout.html.twig' %}
{% block main %}
    {% include 'components/page_header.html.twig' with { page_title: 'Planification d \'une formation'} %}
    {% block new_form %}
        {{ form_start(new_form,{'validation_groups': []}) }}
        <div class="border-gray-200 bg-white shadow-md shadow-gray-400 rounded-lg p-6 mt-14 mb-4">
        <div>
            {{ form_row(new_form.date) }}
        </div>
        <div>
            {{ form_row(new_form.startTime) }}
        </div>
        <div>
            {{ form_row(new_form.formation) }}
        </div>
        <div>
            {# {{ form_row(new_form.mentor) }} #}
           <select id="Dispense_mentor" name="{{ field_name(new_form.mentor) }}">
                <option selected value="">Choisir une option</option>
            </select>
        </div>
        <div>
            {{ form_row(new_form.consultants) }}
        </div>
        {{ form_row(new_form._token) }}
        <button type="submit" class="mt-6 button button-blue" name="ea[newForm][btn]" value="saveAndReturn" data-action-name="saveAndReturn" form="new-Dispense-form">Créer</button>
        {{ form_end(new_form,{render_rest: false}) }}

        <script>
            $(document).ready(function() {
                $("#Dispense_formation").on("change", function(e) {
                    var formationId = e.target.value;
                    $.ajax({
                        url: "{{ path('back_app_mentorByFormation', {'formationId': 'formationId'}) }}".replace('formationId', formationId),
                        dataType: 'json',
                        success: function(data) {
                            $("#Dispense_mentor").empty();
                            $("#Dispense_mentor").append('<option value="">Choisir une option</option>');
                            $.each(data, function(value) {
                                $("#Dispense_mentor").append('<option value="' + parseInt(data[value].id) + '">' + data[value].consultant + '</option>');
                            });
                        }
                    });
                });
            });
        </script>
    {% endblock new_form %}
{% endblock %}